<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../../css/menu.css">
</head>
<header class="header-menu">
    <img class="pi-menu" src="../../../../img/img-menu/pi-white.png">
    <span class="word-menu">MathSchool</span>
    <h1 class="title-menu"><%= guide.name %> <%= number%>/<%= guide.trail.length%></h1>
</header>

<nav class="nav-menu">

    <div class="element-line">
        <img class="img-student" src="../../../../img/img-menu/student.png" alt="">
        <div class="name-and-email">
            <span class="name-user"><%= info.user.name %></span>
            <span class="email-user"><%= info.user.email %></span>
        </div>
        <a href="/user/logout"> <img class="img-logout" src="../../../../img/img-menu/logout.png" alt=""> </a>
    </div>


    <ul class="list-menu">
        <a class="div-menu-flex" href="/student">
            <img class="img-menu-lateral" src="../../../../img/img-menu/home.png" alt="">
            <li class="li-space-menu">Página Inicial</li>
        </a>

        <a class="div-menu-flex" href="/student/study-guide">
            <img class="img-menu-lateral" src="../../../../img/img-menu/map-location.png" alt="">
            <li class="li-space-menu">Guia de Estudo</li>
        </a>

        <a class="div-menu-flex" href="/student/content">
            <img class="img-menu-lateral" src="../../../../img/img-menu/notebook.png" alt="">
            <li class="li-space-menu">Conteúdos</li>
        </a>

        <a class="div-menu-flex" href="/student/questionnaire">
            <img class="img-menu-lateral" src="../../../../img/img-menu/questionario.png" alt="">
            <li class="li-space-menu">Questionários</li>
        </a>
    </ul>
</nav>