<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= info.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/use/useQuestionID.css">
</head>

<body>
    <% include headerID %>

    <form method="POST" class="regular-area">
        <h2><%= question.name %></h2>

        <P><%= question.text %></P>

        <input type="radio" name="options" value="A">(A) <span><%= question.A %></span> <br>
        <input type="radio" name="options" value="B">(B) <span><%= question.B %></span> <br>
        <input type="radio" name="options" value="C">(C) <span><%= question.C %></span> <br>
        <input type="radio" name="options" value="D">(D) <span><%= question.D %></span> <br>
        <input type="radio" name="options" value="E">(E) <span><%= question.E %></span> <br>

        <div class="button-end">
            <div>
                <% 
                    var index;
                    for(let i = 0; i < questionnaire.questions.length; i++){
                        if(questionnaire.questions[i].id == question.id ){
                            index = i;
                            break;
                        }
                    };
                %>
                <% if((index + 1) != questionnaire.questions.length){ %>
                    <% index = index + 1; %>
                    <a href="/student/questionnaire/<%= questionnaire.id %>/<%= index %>" class="button-avancar">Avançar</a>
                <% } else {%>
                    <a href="/student/questionnaire" class="button-avancar">Finalizar</a>
                <% }; %>
            </div>
            <div>
                <input type="submit" value="Corrigir" class="button-corrigir">
            </div>
        </div>
    </form>
</body>

</html>