<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= info.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../css/teacher/createStudyGuide.css">
</head>

<body>
  <% include header %>

  <%
    //Verificar o tipo de imagem
    function getImage(subject, type) {
      if(type == "contents"){
        switch (subject) {
          case "Operações Básicas":
              return "img-conteudo/more";
          case "Fração":
              return "img-conteudo/fraction";
          case "Álgebra":
              return "img-conteudo/algebra"
          case "Análise Combinatória":
              return "img-conteudo/division";
          case "Geometria":
              return "img-conteudo/area";
          case "Porcentagem":
              return "img-conteudo/percent";
          default:
              return "img-conteudo/other";
      }
      }else{
        return "img-guia-estudo/questionnaire"
      }
    }
    %>

  <div class="regular-area">

    <section class="buscar-guia">
      <h2 class="h2-size-title">Materiais</h2>
      <form method="post">
        <input name="search" class="size-input" type="text">
        <button type="submit"><img class="img-search" src="../../img/img-guia-estudo/search-blue.png" alt=""></button> 
      </form>
      
      <% var image; %>

      <div class="menu-busca">
        <% materials.forEach( element => { %>
        <% image = getImage( element.subject, element.type ); %>
        <div class="img-configuration">
          <a href="/teacher/study-guide/create/add/<%= element.type %>/<%= element.id %>"><img class="img-size" src="../../img/<%= image %>.png" alt=""></a>
          <h3><%= element.name %></h3>
          <span class="span-nome"><%= element.author %></span>
        </div>
        <% });  %>
      </div>
    </section>

    <form method="POST" class="cadastrar-guia">
      <section>
        <label for="nome">Nome:</label>
        <input name="name" class="campo-selecao" type="text">
        <div class="configuration-line">
          <label for="">Assunto:</label>
          <select name="subject" class="campo-selecao-ajusty">
            <div class="size">
              <option>Operações Básicas</option>
              <option>Fração</option>
              <option>Álgebra</option>
              <option>Análise Combinatória</option>
              <option>Geometria</option>
              <option>Porcentagem</option>
              <option>Outro</option>
            </div>
          </select>

          <div class="botao-cadastra">
            <input type="submit" value="Confirmar">
          </div>
      </section>

      <section class="montar-guia">
        <h2 class="titulo-trilha">Guia Novo</h2>
        <div class="menu-busca">
          <% trail.forEach( element => { %>
          <% image = getImage( element.subject, element.type ); %>
          <div class="img-configuration">
            <a href="/teacher/study-guide/create/remove/<%= element.id %>"><img class="img-size-cadastra" src="../../img/<%= image %>.png" alt=""></a> 
            <h3><%= element.name %></h3>
            <span class="span-nome"><%= element.author %></span>
          </div>
          <% }); %>
        </div>
      </section>
    </form>

  </div>
</body>

</html>