<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= info.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/use/useQuestionID.css">
</head>

<body>
    <% include headerID %>

    <section class="regular-area">
        <h2><%= question.name %></h2>
        <h3><%= question.author %></h3>

        <P><%= question.text %></P>

        <% if(question.answer == "A"){ %>
            <input checked type="radio" name="options">(A) <span><%= question.A %></span> <br>
        <% }else{ %>
            <input type="radio" name="options">(A) <span><%= question.A %></span> <br>
        <% }; %>
        <% if(question.answer == "B"){ %>
            <input checked type="radio" name="options">(B) <span><%= question.B %></span> <br>
        <% }else{ %>
            <input type="radio" name="options">(B) <span><%= question.B %></span> <br>
        <% }; %>
        <% if(question.answer == "C"){ %>
            <input checked type="radio" name="options">(C) <span><%= question.C %></span> <br>
        <% }else{ %>
            <input type="radio" name="options">(C) <span><%= question.C %></span> <br>
        <% }; %>
        <% if(question.answer == "D"){ %>
            <input checked type="radio" name="options">(D) <span><%= question.D %></span> <br>
        <% }else{ %>
            <input type="radio" name="options">(D) <span><%= question.D %></span> <br>
        <% }; %>
        <% if(question.answer == "E"){ %>
            <input checked type="radio" name="options">(E) <span><%= question.E %></span> <br>
        <% }else{ %>
            <input type="radio" name="options">(E) <span><%= question.E %></span> <br>
        <% }; %>
    </section>
</body>

</html>