<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= info.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../css/teacher/createQuestionnaire.css">
</head>

<body>
  <% include header %>

  <div class="regular-area">

    <section class="buscar-questionario">
      <h2 class="h2-size-title">Perguntas</h2>
      <form method="">
        <input name="search" class="size-input" type="text">
        <img class="img-search" src="../../img/img-guia-estudo/search-blue.png" alt="">
      </form>
      
      <div class="menu-busca">
        <% questions.forEach( element => { %>
        <div class="img-configuration">
          <a href="/teacher/questionnaire/create/add/<%= element.id %>"> <img class="img-size" src="../../img/img-question/question.png" alt=""> </a>
          <h3><%= element.name %></h3>
          <span class="span-nome"><%= element.author %></span>
        </div>
        <% }); %>
      </div>
    </section>

    <form method="POST" class="cadastrar-questionario">
      <section>
        <label for="nome">Nome:</label>
        <input name="name" class="campo-selecao" type="text">
        <div class="configuration-line">
          <label for="">Assunto:</label>
          <select name="subject" class="campo-selecao-ajusty">
            <div class="size">
                <option>Operações Básicas</option>
                <option>Fração</option>
                <option>Álgebra</option>
                <option>Análise Combinatória</option>
                <option>Geometria</option>
                <option>Porcentagem</option>
                <option>Outro</option>
            </div>
          </select>

          <div class="botao-cadastra">
            <input type="submit" value="Confirmar">
          </div>
      </section>

      <section class="montar-questionario">
        <h2 class="titulo-trilha">Novo Questionário</h2>
        <div class="menu-busca">
          <% list.forEach( element => { %>
          <div class="img-configuration">
            <a href="/teacher/questionnaire/create/remove/<%= element.id %>"> <img class="img-size-cadastra" src="../../img/img-question/question.png" alt="">
            </a>
            <h3><%= element.name %></h3>
            <span class="span-nome"><%= element.author %></span>
          </div>
          <% }); %>
        </div>
      </section>
    </form>

  </div>
</body>

</html>