<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= info.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/teacher/materialList.css">
</head>

<body>
    <% include searchHeader %>

    <main class="adicionar-material">
        <section class="line">
            <a href="/teacher/questionnaire/create"> <img class="img-cadastrar" src="../../img/img-guia-estudo/more.png" alt="">
            </a>
        </section>

        <section class="line">
            <h2 class="center">Meus Question치rios</h2>
            <% if(myQuestionnaires.length == 0){ %>
                <p>Nenhum question치rio cadastrado ou encontrado.</p>
            <% } %>
            <div class="lista">
                <% myQuestionnaires.forEach( element => { %>
                <div class="img-configuration">
                        <a href="/teacher/questionnaire/delete/<%= element.id %>">  <img class="img-delete" src="../../img/img-menu/delete.png"  alt=""> </a>
                    <a href="/teacher/questionnaire/view/<%= element.id %>"><img  class="img-subject" src="../../img/img-questionario/questionnaire.png" alt=""> </a>
                    <h3><%= element.name %></h3>
                    <span class="span-nome"><%= element.author %></span>
                </div>
                <% }); %>
            </div>


        </section>

        <section class="">
            <h2 class="center">Todos os Question치rios</h2>
            <% if(questionnaires.length == 0){ %>
                <p>Nenhum question치rio cadastrado ou encontrado.</p>
            <% } %>
            <div class="lista">
                <% questionnaires.forEach( element => { %>
                <div class="img-configuration">
                    <a href="/teacher/questionnaire/view/<%= element.id %>"><img  class="img-subject" src="../../img/img-questionario/questionnaire.png" alt=""> </a>
                    <h3><%= element.name %></h3>
                    <span class="span-nome"><%= element.author %></span>
                </div>
                <% }); %>
            </div>

        </section>
    </main>
</body>

</html>