<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= info.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../css/teacher/createStudyGuide.css">
</head>

<body>
  <% include headerID %>

  <%
    //Verificar o tipo de imagem
    function getImage(subject, type) {
      if(type == "contents"){
        switch (subject) {
          case "Operações Básicas":
              return "img-conteudo/more";
          case "Fração":
              return "img-conteudo/fraction";
          case "Álgebra":
              return "img-conteudo/algebra"
          case "Análise Combinatória":
              return "img-conteudo/division";
          case "Geometria":
              return "img-conteudo/area";
          case "Porcentagem":
              return "img-conteudo/percent";
          default:
              return "img-conteudo/other";
      }
      }else{
        return "img-guia-estudo/questionnaire"
      }
    }
    %>

  <div class="regular-area">

    <section class="buscar-guia">
      <h2 class="h2-size-title">Materiais</h2>
      <form method="">
        <input name="search" class="size-input" type="text">
        <img class="img-search" src="../../../img/img-guia-estudo/search-blue.png" alt="">
      </form>
      
      <% var image; %>

      <div class="menu-busca">
        <% materials.forEach( element => { %>
        <% image = getImage( element.subject, element.type ); %>
        <div class="img-configuration">
          <a href="/teacher/study-guide/update/<%= guide.id %>/add/<%= element.type %>/<%= element.id %>"><img class="img-size" src="../../../img/<%= image %>.png" alt=""></a>
          <h3><%= element.name %></h3>
          <span><%= element.author %></span>
        </div>
        <% });  %>
      </div>
    </section>

    <form method="POST" class="cadastrar-guia">
      <section>
        <p>Nome: <%= guide.name %></p>
        <p>Autor: <%= guide.author %></p>
        <% if(!enable){ %>
          <div class="botao-cadastra">
            <input type="submit" value="Atualizar">
          </div>
        <% } %>
      </section>

      <section class="montar-guia">
        <h2 class="titulo-trilha">Guia:</h2>
        <div class="menu-busca">
          <% trail.forEach( element => { %>
          <% image = getImage( element.subject, element.type ); %>
          <div class="img-configuration-new">
            <a href="/teacher/study-guide/update/<%= guide.id %>/remove/<%= element.id %>"><img class="img-size-cadastra" src="../../../img/<%= image %>.png" alt=""></a> 
            <h3 class="h3-newGuia" ><%= element.name %></h3>
            <span class="span-nome"><%= element.author %></span>
          </div>
          <% }); %>
        </div>
      </section>
    </form>

  </div>
</body>

</html>